spring.application.name=core

spring.datasource.url=jdbc:mysql://localhost:3306/wecode_db
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

spring.jpa.show-sql=true

spring.datasource.username=
spring.datasource.password=
